@charset "UTF-8";
div{	
	background-color: #0094ff;
	width: 300px;
	padding: 15px;
	border: 5px dotted #222;
	margin-bottom:20px;	
}
.bg1{ 
	background-clip: border-box;
}
.bg2{ 
	background-clip: padding-box;
}
.bg3{ 
	background-clip: content-box;
}