@charset "UTF-8";

body {
	font-family: "맑은 고딕", 돋움;
}

.container {
	position: relative;
	width: 600px;
	height: 400px;
	padding: 20px;
	border: 1px solid #ccc;
	background-image: url('../images/apple-bg.jpg');
	background-size : cover;
	background-repeat: no-repeat;
}

.content {
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	top: 300px;
	width: 90%;
	padding: 10px;
}

h1 {
	font-size: 30px;
	text-align: center;
}

p {
	font-size: 16px;
	line-height: 25px;
}