@charset "UTF-8";

body {
	font-family: "맑은 고딕", 돋움;
}

.container {
	width:500px;
	padding:10px;
	border:1px solid blue;
	background:rgba(0,0,255,0.2);
}

.container:hover{
	background-color: blue;
	color : white;
}

h1 {
	font-size: 17px;
}

p {
	font-size: 16px;
	line-height: 25px;
}