@charset "UTF-8";

.table1{
	border-collapse: collapse;
	width: 300px;
	table-layout: fixed;
	word-break: break_all;
	height: auto;
}

.table1 td{
	width:  150px;
	border: 1px solid black;
	padding: 5px;
}