@charset "UTF-8";

.box{
	margin-top: 50px;
	margin-left: 100px;
	padding: 20px;
	height: 60px;
	animation-name : moving;
	animation-duration:3s;
	animation-direction: normal;
	animation-iteration-count: infinite;
}

@keyframes moving{
	from{
		width : 200px;
		background: #faef7c;
		opacity: 0.5;
		transform: scale(0.5) rotate(15deg);
	}
	to{
		width : 400px;
		background: #ff9400;
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}