@charset "UTF-8";


#container {  /* 전체 콘텐츠를 감싸는 div */
	width:650px;  /* 너비 */
	margin:0 auto;  /* 가로로 중앙에 배치 */
	padding:5px;	/* 테두리와 내용 사이의 패딩 여백 */		
	}
		
#check {   /* 텍스트 부분을 감싸는 div */
	width:640px;  /* 너비 - 그림 너비 값에 맞춤 */
	border:1px solid #ccc;  /* 테두리 */
	}		

h1{
	color:white;
	font-size: 1em;
	background: #222;
	margin: 0;
	padding: 10px;
}

h2{
	color:#ff0000;
	font-size: 1.2em;
	text-align: center;	
}

p{
	font-size: 1.5em;
	line-height: 2em;
	font-weight: bold;
	text-align: center;
}

.accent{
	color: blue;
}

.smalltext{
	font-size: 0.7em;	
}